<p>Hi CiviCRM dev team,</p>

<p>This is your weekly recap of all open critical issues. Let's work on closing these issues!</p>

<table>
    {% for item in results %}
    <tr>
        <td align="right"><a href="{{ item.issue_url }}">{{ item.issue }}</a></td>
        <td colspan=2>{{ item.summary }} </td>
    </tr><tr>
        <td align="right">{{ item.priority }}</td>
        <td>{{ item.status }}</td>
        <td>Assigned to: <b>{{ item.assignee }}</b></td>
    </tr>
    <tr></tr>
    {% endfor %}
 </table>

<p>Cheers!<br/>
<pre>--<a href="'https://stats.civicrm.org">stats.civicrm.org</a></pre></p>